.site-header {
    background-color: #001c53;
    color: #ffffff;
    height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.site-header-content {
    margin:10px;
}
    
.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #0b75da 2px 5px 5px;
}

.github-link{
    color: #ffffff;
}

body {
    margin: 0;
}